@charset "utf-8";

header {
  display: flex;
}
.logo {
  padding: 20px 20px 10px 60px;
}
.top_header {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.top_header_item {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  padding: 20px 40px 0 20px;
}
h1 {
  margin: 0 auto;
  padding: 20px 0 20px 0;
  color: #393e46;
}
.top_header_item_text {
  color: #393e46;
  text-decoration: none;
  font-size: 22px;
  padding: 10px 0 0 0;
}
.top_header_item_text:hover {
  color: grey;
}
.top_header_item_image {
  padding: 5px;
}
.navbar-custom {
  background-color: #f96d00;
  max-height: 58px;
}

.brand {
  margin-top: 40px;
  font-weight: 700;
}
.model {
  padding: 20px 0px 40px 0px;
  font-weight: 600;
}
.btn-dark {
  margin-bottom: 70px;
  padding: 20px 60px 20px 60px;
  font-weight: 600;
}

.text_banner {
  background-color: #393e46;
  color: white;
  padding: 30px 5px 30px 5px;
}

.shop_now_button {
  background-color: #f96d00;
  padding: 20px 100px 20px 100px;
  font-size: 24px;
  font-weight: 700;
  margin: 20px;
}
.shop_now_button:hover {
  background-color: #f96d00;
  opacity: 90%;
}

footer {
  background-color: #f96d00;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer a img {
  width: 35px;
  height: 30px;
  padding-right: 5px;
}

#footer_left {
  flex: 1;
  text-align: center;
  padding-top: 20px;
}

#footer_center {
  display: flex;
  flex: 2;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  color: black;
  text-decoration-line: none;
  padding-top: 20px;
}
#footer_center:hover {
  color: darkslategrey;
}
#footer_index {
  text-decoration-line: none;
  padding-bottom: 5px;
}

#footer_right1 {
  flex: 1;
  text-align: end;
}

#footer_right2 {
  flex: 1;
  padding-right: 10px;
  text-align: center;
}

footer div a {
  color: black;
}

footer div a:hover {
  color: darkslategrey;
}

/* Shop All page */

.more-info {
  background-color: #393e46;
  margin: 20px 0px 0px 0px;
  padding: 8px;
}
.more-info:hover {
  color: white;
  background-color: black;
}
.more-info-url {
  color: white;
  text-decoration: none;
  margin: 0 auto;
}
.more-info-url:hover {
  background-color: black;
  color: white;
}
.add-cart-url {
  color: black;
  text-decoration: none;
}
.add-cart-url:hover {
  color: #393e46;
}

/* Product Page */

.card {
  border: none;
  background-color: #ecedee;
  overflow: hidden;
}
.thumbnail_images ul {
  list-style: none;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.thumbnail_images ul li {
  margin: 5px;
  padding: 10px;
  border: 2px solid #ecedee;
  cursor: pointer;
  transition: all 0.5s;
}
.thumbnail_images ul li:hover {
  border: 2px solid #000;
}
.main_image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ecedee;
  height: 400px;
  width: 100%;
  overflow: hidden;
}
.dropdown {
  padding: 5px;
}
.button_cart {
  background-color: #f96d00;
  font-weight: 700;
  border-color: #f96d00;
}
.content p {
  font-size: 12px;
}

.colors {
  margin-top: 5px;
}
.colors ul {
  list-style: none;
  display: flex;
  padding-left: 0px;
}
.colors ul li {
  height: 20px;
  width: 20px;
  display: flex;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.colors ul li:nth-child(1) {
  background-color: black;
}
.colors ul li:nth-child(2) {
  background-color: darkslategray;
}
.colors ul li:nth-child(3) {
  background-color: darkblue;
}
.colors ul li:nth-child(4) {
  background-color: lightcoral;
}

.right-side {
  position: relative;
}
.buttons .btn {
  height: 50px;
  width: 150px;
  border-radius: 0px !important;
}
.specifications {
  padding: 20px 0px 20px 0px;
  margin: 0px 0px 0px 30px;
  font-weight: 600;
}
.specifications_list {
  list-style-type: square;
}
.box {
  padding: 20px 0px 20px 0px;
  margin: 0px 0px 0px 30px;
  font-weight: 600;
}
.box_list {
  list-style-type: square;
}
.shipping {
  padding: 200px 0px 20px 0px;
  margin: 0px 0px 0px 30px;
  font-weight: 600;
}

/* Contact Us Page */
.contact {
  background-color: #ecedee;
}

/* About us Page */
.about {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding: 20px;
}
/* Return policy Page */
.returns {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding: 20px;
}
/* Shipping Page */
.shipping_info {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding: 20px;
}
/* Privacy Policy Page */
.privacy {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding: 20px;
}
/* Terms & ConditionsPage */
.terms {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding: 20px;
}
/* Checkout Page */
.login_button_checkout {
  padding: 10px 20px 10px 20px;
  margin: 10px 0px 0px 0px;
}

/* Admin Portal */
body {
  font-size: 0.875rem;
}

.feather {
  width: 16px;
  height: 16px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

/*Laptop Size Media Query*/
@media screen and (max-width: 2400px) {
  .image2 {
    display: none;
  }
}

/*Tablet Size Media Query*/
@media screen and (max-width: 800px) {
  .brand {
    margin-top: 0px;
    font-weight: 700;
  }
  .model {
    padding: 20px 0px 40px 0px;
    font-weight: 600;
  }
  .btn-dark {
    margin-bottom: 0px;
    padding: 10px 20px 10px 20px;
  }
  .img-fluid {
    display: none;
  }
  .image2 {
    display: block;
    height: 200px;
  }
}

/*Mobile Device Media Query*/
@media screen and (max-width: 600px) {
  .brand {
    margin-top: 0px;
    font-weight: 700;
  }
  .model {
    padding: 20px 0px 20px 0px;
    font-weight: 600;
  }
  .btn-dark {
    margin-bottom: 0px;
  }
  .img-fluid {
    display: none;
  }
  .image2 {
    display: block;
    height: 200px;
  }
  .shipping {
    padding: 20px 0px 20px 0px;
    margin: 0px 0px 0px 30px;
    font-weight: 600;
  }
}
